/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'nullstyle';
@import 'vars';

#root {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.App {
	flex: 1;
	size: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: * var(--content-sides);
	font-family: sans-serif;
	gap: 24px;
	color: var(--c-text-primary) var(--c-bg-primary);
}
.main-header {
	width: calc(100% + var(--content-sides) * 2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 56px;
	background: var(--c-bg-secondary);
	margin: * calc(var(--content-sides) * -1);
	padding: * var(--content-sides);
	border-bottom: 1px solid var(--c-text-secondary);

	position: fixed;
	width: 100%;
	z-index: 3;

	&__logo {
		svg {
			display: block;
			height: 32px;
			path {
				fill: var(--c-text-primary);
			}
		}
	}
	&__filters {
		display: flex;
		gap: 20px;
		justify-content: space-between;
		align-items: center;
		align-items: stretch;
	}
	&__add-post {
	}
}
.main-footer {
	width: calc(100% + var(--content-sides) * 2);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 56px;
	background: var(--c-bg-secondary);
	margin: * calc(var(--content-sides) * -1);
	padding: * var(--content-sides);
	border-top: 1px solid var(--c-text-secondary);
}
.posts {
	width: var(--post-feed-width);
	flex: 1;

	margin-top: 80px;
	.posts-state-msg {
		text-align: center;
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	&__info {
		display: flex;
		justify-content: space-between;
		font-size: 1.4em;
		margin-bottom: 0.5em;

		gap: 8px;
		font-size: 0.85em;
		position: fixed;
		top: 80px;
		z-index: 3;
		right: 24px;
		background: var(--c-text-primary);
		color: var(--c-bg-primary);
		padding: 8px;
		flex-direction: column;
		align-items: flex-end;
	}
}
.post {
	position: relative;
	z-index: 2;
	&.more {
		cursor: pointer;
		&.expand {
			cursor: auto;
		}
	}
	&__content {
		background: var(--c-bg-secondary);
		border: 1px solid var(--c-text-secondary);
		padding: 24px;
		width: 100%;
		position: relative;
	}
	&__date {
		font-size: 0.85em;
		margin-bottom: 12px;
		color: var(--c-text-secondary);
	}
	&__title {
		margin-bottom: 12px;
	}
	&__more {
		margin-top: 12px;
		padding-top: 12px;
		border-top: 1px solid var(--c-text-secondary);
	}
	&__close {
		pointer-events: none;
		z-index: -1;
		opacity: 1;
		position: absolute 0 0 * *;
		transform: translateX(0);
		transition: all 0.3s ease-in;
	}
	&.expand {
		.post__close {
			pointer-events: all;
			right: -4px;
			opacity: 1;
			transform: translateX(100%);
			transition: all 0.2s ease-in;
		}
	}
}
.form-group {
	display: flex;
	gap: 12px;
	align-items: center;
	padding: 12px;
}
button {
	padding: 6px;
	background: var(--c-button-primary);
	border: 1px solid var(--c-text-secondary);

	&:disabled {
		pointer-events: none;
	}
	&.secondary {
		background: none;
		padding: 0;
		border: none;
	}
}
input {
	color: var(--c-text-primary) var(--c-input-bg);
	border: 1px solid var(--c-text-secondary);
}
select {
	border: 1px solid var(--c-text-secondary);
	padding: 6px;
	color: var(--c-text-primary);
}
input.line {
	padding: 6px;
}
textarea {
	padding: 6px;
}
.checkbox {
	display: flex;
	align-items: center;
	gap: 8px;
	input {
	}
	label {
		font-size: 0.85em;
		position: relative;
		top: 0.1em;
	}
}

.modal {
	display: none;
	position: fixed 0;
	size: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: var(--c-modal-overlay);
	z-index: 10;
	&.active {
		display: flex;
	}

	&__wrapper {
		border: 1px solid var(--c-text-secondary);
		background: var(--c-bg-secondary);
		padding: 32px;
		width: 480px;
		> div {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}
		form {
			display: flex;
			flex-direction: column;
			gap: 6px;
			&.add-post {
				textarea {
					height: 200px;
				}
			}
		}
	}
}
code {
	white-space: break-spaces;
}
.animate-default {
	&-enter {
		opacity: 0;
	}
	&-enter-active {
		opacity: 1;
		transition: opacity 1s ease-in;
	}
	&-exit {
		opacity: 1;
	}
	&-exit-active {
		opacity: 0;
		transition: opacity 0.35s ease-out;
	}
}
.scroll-observer {
	-webkit-user-select: none;
	user-select: none;
	opacity: 1;
	background: #f00;
	height: 5px;
	width: 5px;
	pointer-events: none;
	position: relative;
	top: 0px;
	z-index: 5;
}
