*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

:focus,
:active,
a:focus,
a:active {
	outline: none;
}

html,
body {
	height: 100%;
	font-size: 100%;
	line-height: 1;
	-webkit-text-size-adjust: 100%;
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	width: 100%;
}

/* input,
button,
textarea {
	font-family: inherit;
	font-weight: inherit;
	background: inherit;
	font-size: inherit;
	color: inherit;
	text-shadow: inherit;
	letter-spacing: inherit;
	border-radius: 0;
} */

input::-ms-clear {
	display: none;
}

button,
a {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

ul li {
	list-style: none;
}

img,
figure,
picture > object {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

a:focus,
	a:hover,
	a:active,
	a:visited {
		text-decoration: none;
		color: inherit;
	}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px;
	font-family: sans-serif;
}

.App .logo {
		max-width: 300px;
		margin-bottom: 20px;
	}

.App .post-list {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

.App .post {
		width: 640px;
		position: relative;
		z-index: 2;
	}

.App .post.more {
			cursor: pointer;
		}

.App .post.more.expand {
				cursor: auto;
			}

.App .post__content {
			background: #fff;
			border: 1px solid #333;
			padding: 24px;
			width: 100%;
			position: relative;
		}

.App .post__date {
			font-size: 0.85em;
			margin-bottom: 12px;
		}

.App .post__title {
			margin-bottom: 12px;
		}

.App .post__more {
			margin-top: 12px;
			padding-top: 12px;
			border-top: 1px solid #ccc;
		}

.App .post__close {
			pointer-events: none;
			z-index: -1;
			opacity: 1;
			top: 0;
			right: 0;
			position: absolute;
			transform: translateX(0);
			transition: all 0.3s ease-in;
		}

.App .post.expand .post__close {
				pointer-events: all;
				right: -4px;
				opacity: 1;
				transform: translateX(100%);
				transition: all 0.2s ease-in;
			}

button {
	padding: 6px;
}

button:disabled {
		pointer-events: none;
	}

input.line {
	padding: 6px;
}

textarea {
	padding: 6px;
}

.checkbox input {
		margin-right: 8px;
	}

.checkbox label {
		font-size: 0.85em;
	}

.manipulate-content {
	font-size: 16px;
	display: flex;
	margin: 20px 0;
	width: 100%;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
	align-items: stretch;
	width: 640px;
	margin-left: auto;
	margin-right: auto;
}

.manipulate-content > * {
		display: flex;
		align-items: center;
		width: 300px;
		border: 1px solid #ccc;
		padding: 12px;
	}

.modal {
	display: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #0000008f;
	z-index: 10;
}

.modal.active {
		display: flex;
	}

.modal__wrapper {
		background: #ccc;
		padding: 32px;
	}

form {
	display: flex;
	gap: 6px;
}

form.add-post {
		flex-direction: column;
		width: 600px;
	}

form.add-post textarea {
			height: 200px;
		}

code {
	white-space: break-spaces;
}

.animate-default-enter {
		opacity: 0;
	}

.animate-default-enter-active {
		opacity: 1;
		transition: opacity 1s ease-in;
	}

.animate-default-exit {
		opacity: 1;
	}

.animate-default-exit-active {
		opacity: 0;
		transition: opacity 0.35s ease-out;
	}

.post-info {
	display: flex;
	justify-content: space-between;
	font-size: 1.4em;
	margin-bottom: 0.5em;
}

.scroll-observer {
	-webkit-user-select: none;
	user-select: none;
	opacity: 0;
	height: 1px;
	width: 1px;
	pointer-events: none;
}
